{% extends 'base.html' %}
{% load static %}

{% block title %}User Register{% endblock %}

{% block content %}
<div class="container">
    <h1>Register User</h1>
    <div class="row">
      <div class="col-md-4 ">
        <h3>Enter Your Details</h3>
        <form id="RegisterUser" action="">
          <div class="form-group">
            <input class="form-control" type="text" name="email" placeholder="Email" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="first_name" placeholder="First Name" required>
          </div>
            <div class="form-group">
            <input class="form-control" type="text" name="last_name" placeholder="Last Name" required>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="gender" placeholder="Gender" required>
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" id="pwd" name="pwd" minlength="8"><br><br>
          </div>
          <div class="form-group">
            <input type="checkbox" name="IsStaff" id="is_staff">
            <label for="IsStaff"> Is Staff</label><br>
          </div>
          <div class="form-group">
            <input type="checkbox" name="IsSuperUser" id="is_superuser">
            <label for="IsSuperUser"> Is Super User</label><br>
          </div>
          <div class="form-group">
            <input class="form-control" type="text" name="category" placeholder="Category" required>
          </div>
          <div class="form-group">
           <label for="types">User Types:</label>
          <select name="types" id="types" multiple>
            <option value="Owner">Owner</option>
            <option value="Admin">Admin</option>
            <option value="Manager">Manager</option>
            <option value="Member">Member</option>
          </select>
          </div>
          <button class="btn btn-primary form-control" type="submit">SUBMIT</button>
        </form>
      </div>
    </div>
  <!-- get method -->
  <div class="col-md-10">
        <h3>User List</h3>
        <table id="userTable" class="table table-striped">
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
             <th>Email</th>
            <th>Gender</th>
              <th>Category</th>
              <th>User Type</th>
          </tr>
          {% if user_list %}
          {% for user in user_list %}
          <tr id="user-{{user.id}}">
              <td class="FirstName" name="first_name">{{user.first_name}}</td>
              <td class="LastName" name="last_name">{{user.last_name}}</td>
              <td class="Email" name="email">{{user.email}}</td>
              <td class="Gender" name="gender">{{user.gender}}</td>
              <td class="Category" name="category">{{user.category}}</td>
              <td class="Types" name="types">{{user.types}}</td>
          </tr>
          {% endfor %}
          {% else %}
            No Users
          {% endif %}
        </table>
      </div>
</div>

{% endblock %}
{% block javascript %}
<script>
  $("form#RegisterUser").submit(function(){

    var email = $('input[name="email"]').val().trim();
    var firstname = $('input[name="first_name"]').val().trim();
    var lastname = $('input[name="last_name"]').val().trim();
    var gender = $('input[name="gender"]').val().trim();
    var password = $('input[name="pwd"]').val().trim();
    var is_staff = $('input[name="IsStaff"]').prop('checked');
    var is_superuser = $('input[name="IsSuperUser"]').prop('checked');
    var category = $('input[name="category"]').val().trim();
    var type = $('#types').val();

  $.ajax({
      type: 'POST',
      url: '{% url "user_register" %}',

      data: JSON.stringify({
                  'email': email,
                  'first_name': firstname,
                  'last_name': lastname,
                  'gender': gender,
                  'password': password,
                  'is_staff': is_staff,
                  'is_superuser': is_superuser,
                  'category': category,
                  'types': type
            }),


        contentType: "application/json",
        success: function (data){}
<!--        if (data.user) {-->
<!--                  appendToUsrTable(data.user);-->
<!--                }-->
<!--        else {-->
<!--            alert("All fields must have a valid value.");-->
<!--    }-->
<!--    $('form#RegisterUser').trigger("reset");-->
<!--    return false;-->
});
});

<!--function appendToUsrTable(user) {-->
<!--  $("#userTable > tbody:last-child").append(`-->
<!--        <tr id="user-${user.id}">-->
<!--            <td class="FirstName" name="first_name">${user.first_name}</td>-->
<!--            <td class="LastName" name="last_name">${user.last_name}</td>-->
<!--            <td class="Email" name="email">${user.email}</td>-->
<!--            <td class="Gender" name="gender">${user.gender}</td>-->
<!--            <td class="Category" name="category">${user.category}</td>-->
<!--            <td class="Types" name="types">${user.types}</td>-->
<!--        </tr>-->
<!--    `);-->
<!--}-->
</script>
{% endblock javascript %}
